html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --main: #0d0d0d;

  --font: "Gotham", sans-serif;
}

body {
  margin: 0;
  min-width: 360px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  color: var(--main);
  background-color: #ffffff;
}

.container {
  padding: 0 21px;
  margin: 0 auto;
  max-width: 1160px;
}

.container-gradient {
  background: linear-gradient(
    180deg,
    #eae9ff 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.btn-container {
  display: flex;
  gap: 20px;
}

.btn {
  display: inline-block;
  border: 1px solid #6a50d2;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 16px;
  color: #6a50d2;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  color: #ffffff;
  background-color: #4d35af;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  opacity: 0.9;
  background-color: #4d35af;
}

.btn-primary:active {
  opacity: 1;
  background-color: #301b87;
}

.btn-secondary {
  transition: background-color 0.3s ease-in-out;
}

.btn-secondary:hover {
  background-color: #efecfb;
}

.btn-secondary:active {
  background-color: #cfc6f4;
}

.heading {
  font-weight: 500;
  line-height: 1.2;
}

.heading-primary {
  font-size: 40px;
}

.heading-secondary {
  font-size: 32px;
  line-height: 1.25;
}

.heading-tertiary {
  font-size: 20px;
  line-height: 1.3;
}

/* Banner section */
.banner {
  padding-top: 64px;
  padding-bottom: 52px;
}

.banner__container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 455px;
  align-items: center;
}

.banner__heading {
  margin-bottom: 20px;
}

.banner__text {
  margin-bottom: 31px;
  font-size: 18px;
  line-height: 1.33;
}

/* Advantages section */
.advantages {
  padding-top: 52px;
  padding-bottom: 63.5px;
}

.advantages__heading {
  margin-bottom: 40px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.advantages__item {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 20px;
  background: #f3f3f3;
}

.advantages__image {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
}

.advantages__text {
  font-size: 16px;
  line-height: 1.38;
}

.advantages__text a {
  color: #147be6;
  transition: color 0.3s ease-in-out;
}

.advantages__text a:hover {
  color: #013fb2;
}

/* About section */
.about {
  padding-top: 63.5px;
  padding-bottom: 64px;
}

.about__heading {
  margin-bottom: 40px;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.about__title {
  font-weight: 700;
  margin-bottom: 9px;
}

.about__text {
  font-size: 18px;
  line-height: 1.33;
}

/* Promo section */
.promo {
  padding-top: 64px;
  padding-bottom: 64px;
}

.promo__content {
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 322px;
  align-items: center;
  background-color: #eee9ff;
}

.promo__info {
  padding: 31px;
}

.promo__heading {
  margin-bottom: 20px;
}

.promo__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 18px;
  margin-bottom: 32px;
  list-style-type: disc;
}

.promo__item {
  font-size: 18px;
  line-height: 1.33;
}
